{{#each posts as |post| }}

<div class="card">
  <div class="card-header">
    <h2>
      <a class="home-header" href="/post/{{post.id}}">{{post.title}}</a>
    </h2>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p class="card-text">{{post.post_content}}</p>
      <div class="col text-center">
        <button type="button" class="btn btn-secondary more-button"><a href="/post/{{post.id}}"> more...
          </a></button>
      </div>
      <footer class="blockquote-footer">{{format_date post.date_created}}
        <div>
          <cite title="Source Title">
            by {{post.user.name}}
          </cite>
        </div>
      </footer>
    </blockquote>
  </div>
</div>

{{/each}}